<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ClosedText_en-us" value="This station is currently closed."/>
		<add key="ClosedText_es-419" value="Esta estación se encuentra actualmente cerrado."/>
		<add key="ClosedPromptUrl_en-us" value="http://localhost/VoiceDocStore/Prompts/Closed.wav"/>
		<add key="ClosedPromptUrl_es-419" value="http://localhost/VoiceDocStore/Prompts/Closed.wav"/>
	</appSettings>
</configuration>
