<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SqlConnStr" value="server=(local);database=dSpeechBridge;uid=;pwd="/>
		<add key="NpgsqlConnStr" value="Server=localhost;Database=dspeechbridge;User ID=;Password=;"/>
		<add key="VxmlLocation" value="/opt/speechbridge/VoiceDocStore/"/>
		<add key="UrlStart" value="http://localhost/VoiceDocStore/AAMain.vxml.xml"/>
		<add key="RemotingServerPort" value="1778"/>
		<add key="RemotingAudioMgrUrl" value="tcp://localhost:1779/AudioEngine.rem"/>
		<add key="DisableKeyboard" value="true" />
		<add key="LogFilePath" value ="/opt/speechbridge/logs" />
		<add key="DefaultRepromptTimeout" value="10" />
		<add key="CKey" value="" />
		<add key="EmailServer" value="Exchange2003"/>
		<add key="CustomAssemblies" value="SBEmail;ApplusProxy;" />
		<add key="License" value="/opt/speechbridge/license/Incendonet.lic" />
	</appSettings>
</configuration>
