[ProxySrv General Parameters]
Active Sessions=0
Application Log Level=1
SIP and RTP Log Level=1
SBC Mode=Proxy Only Mode
Always Proxy Media=False
Application Log File=b2bua
Interface Address=sip:*:5060
Syslog Server=127.0.0.1
SIP Session Timer=False
Hash Key 1=0
Hash Key 2=0
Transaction Thread Count=10
Session Thread Count=10
1xx Timeout To Invite=5000
Connection Timeout=60000
Alerting Timeout=30000
Final Response Timeout To Invite=60000

[Local Domain Accounts]
Accept All Registration=True
Account Array Size=0

[Relay Routes]
Route Array Size=2
Route 1=[sip:*@192.168.1.205:5060] sip:2100@192.168.1.205:5062
Route 2=[sip:*@192.168.1.205] sip:2100@192.168.1.205:5062

[ProxySrv Routes]
Rewrite TO URI=False
Route Array Size=0

