<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SqlConnStr" value="server=(local)\sqlexpress;database=dSpeechBridge;uid=;pwd="/>
		<add key="NpgsqlConnStr" value="Server=localhost;Database=dspeechbridge;User ID=;Password=;"/>
		<add key="CKey" value="" />
		<add key="DefaultConfigPath" value="/opt/speechbridge/config" />
		<add key="VxmlLocation" value="/opt/speechbridge/VoiceDocStore/"/>
		<add key="License" value="/opt/speechbridge/license/Incendonet.lic" />
	</appSettings>
</configuration>
