<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SqlConnStr" value="server=(local)\sqlexpress;database=dSpeechBridge;uid=;pwd="/>
		<add key="NpgsqlConnStr" value="Server=localhost;Database=dspeechbridge;User ID=;Password=;"/>
		<add key="DisableKeyboard" value="true" />
		<add key="AutoStart" value="true" />
		<add key="UdpListenPort" value="1772" />
		<add key="BroadcastPort" value="" />
		<add key="MonoBinPath" value="/usr/bin" />
		<add key="DefaultLogFilePath" value="/opt/speechbridge/logs" />
		<add key="DefaultBinPath" value="/opt/speechbridge/bin" />
		<add key="DefaultConfigPath" value="/opt/speechbridge/config" />
		<add key="BinsToStart" value="AudioRtr" />
		<add key="MonoBinsToStart" value="AudioMgr;DialogMgr;SBSched" />
		<add key="CheckIpOnStartup" value="true" />
	</appSettings>
</configuration>
