<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="LogFilePath" value="/opt/speechbridge/logs" />
		<add key="SqlConnStr" value="server=(local);database=dSpeechBridge;uid=;pwd="/>
		<add key="NpgsqlConnStr" value="Server=localhost;Database=dspeechbridge;User ID=;Password=;"/>
		<add key="VxmlLocation" value="/opt/speechbridge/VoiceDocStore/"/>
		<add key="TtsProgPath" value="/opt/speechbridge/bin/CepstralCmd" />
		<add key="SyncVxmlEveryXMin" value="30" />
		<add key="SyncLdapAt" value="02:00" />
		<add key="CKey" value="" />
		<add key="License" value="/opt/speechbridge/license/Incendonet.lic" />
	</appSettings>
</configuration>
