<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- remove any machine-wide sources with <clear/> -->
    <clear />
    <!-- add a Team Services feed -->
    <!-- also get packages from the NuGet Gallery -->
    <add key="SpeechBridge-dependencies-private" value="https://pkgs.dev.azure.com/incendonet/_packaging/SpeechBridge-dependencies-private@Release/nuget/v3/index.json" />
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
</configuration>