<?xml version="1.0" encoding="utf-8"?>
<!--
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at https://mozilla.org/MPL/2.0/.
-->
<configuration>
	<appSettings>
		<add key="SqlConnStr" value="server=(local)\sqlexpress;database=dSpeechBridge;uid=;pwd="/>
		<add key="NpgsqlConnStr" value="Server=localhost;Database=dspeechbridge;User ID=;Password=;"/>
		<add key="VxmlLocation" value="E:/proj/work/incendonet/Engineering/testing/VoiceDocStore/"/>
		<add key="UrlStart" value="http://localhost/VoiceDocStore/AAMain.vxml.xml"/>
		<add key="RemotingServerPort" value="1778"/>
		<add key="RemotingAudioMgrUrl" value="tcp://localhost:1779/AudioEngine.rem"/>
		<add key="DisableKeyboard" value="true"/>
		<add key="LogFilePath" value="E:/proj/work/incendonet/Engineering/testing/logs"/>
		<add key="CKey" value=""/>
		<add key="SBModDebugAllWebdav" value="false"/>
		<add key="CustomAssemblies" value="SBEmail;"/>
		<add key="License" value="E:/proj/work/incendonet/Engineering/speechbridge/bin/Incendonet.lic"/>
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
