<configuration>
   <system.runtime.remoting>
	   <application name="DialogEngine_Console" >
         <client>
            <wellknown type="AudioEngine_Console.AEMessaging, AudioEngine_Console" 
					url="tcp://localhost:1779/AudioEngine.rem" /> 
         </client>
       </application>
   </system.runtime.remoting>
</configuration>