<configuration>
	<system.runtime.remoting>
		<application>
			<service>
				<wellknown
					mode = "SingleCall" 
					type = "DialogMgr_Console.DMMessaging, DialogMgr_Console" 
					objectUri = "DialogMgr.rem" />
			</service>
			<channels>
				<channel ref="http" />
				<channel ref = "tcp" port = "1778" />
			</channels>
		</application>
	</system.runtime.remoting>
</configuration>