<?xml version="1.0" encoding="utf-8"?>
<!--
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at https://mozilla.org/MPL/2.0/.
-->
<configuration>
	<appSettings>
		<add key="SqlConnStr" value="server=(local)\sqlexpress;database=dSpeechBridge;uid=;pwd="/>
		<add key="NpgsqlConnStr" value="Server=localhost;Database=dspeechbridge;User ID=;Password=;"/>
		<add key="RemotingServerPort" value="1779"/>
		<add key="RemotingDialogMgrUrl" value="tcp://localhost:1778/DialogMgr.rem"/>
		<add key="FirstAudioRtrPort" value="1780"/>
		<add key="AsrStartupSleepMsec" value="1000"/>
		<add key="AsrLogging" value="false"/>
		<add key="DisableKeyboard" value="true"/>
		<add key="SaveAudioStream" value="false"/>
		<add key="LogFilePath" value="E:/proj/work/incendonet/Engineering/testing/logs"/>
		<add key="DtmfTimeout" value="3000"/>
		<add key="DefaultInactivityTimeout" value="7000"/>
		<add key="DefaultInactivityHangupTimeout" value="120000"/>
		<add key="TtsProgPath" value="E:/proj/work/incendonet/Engineering/ISProto.root/ISProto/CepstralCmd/Debug/CepstralCmd"/>
		<!-- <add key="TtsProgPath" value="/home/speechbridge/ISProto.root/ISProto/CepstralCmd/Debug/CepstralCmd" /> -->
		<!--<add key="GrammarFormat" value="SRGS_GRXML" />-->
		<add key="GrammarFormat" value="SRGS_ABNF"/>
		<add key="DumpGram" value="false"/>
		<add key="DynamicPromptsEnabled" value="false"/>
		<add key="DynamicPromptsPath" value="E:/proj/work/incendonet/Engineering/testing/VoiceDocStore/Prompts/DynamicPrompts"/>
		<!--<add key="DynamicPromptsPath" value="/opt/speechbridge/VoiceDocStore/Prompts/DynamicPrompts" />-->
	</appSettings>
</configuration>
