<configuration>
	<system.runtime.remoting>
		<application>
			<service>
				<wellknown
					mode = "SingleCall" 
					type = "AudioEngine_Console.AEMessaging, AudioEngine_Console" 
					objectUri = "AudioEngine.rem" />
			</service>
			<channels>
				<channel ref = "http" />
				<channel ref = "tcp" port = "1779" />
			</channels>
		</application>
	</system.runtime.remoting>
</configuration>