<configuration>
   <system.runtime.remoting>
	   <application name="AudioEngine_Console" >
         <client>
            <wellknown type="DialogMgr_Console.DMMessaging, DialogMgr_Console" 
					url="tcp://localhost:1778/DialogMgr.rem" /> 
         </client>
       </application>
   </system.runtime.remoting>
</configuration>